out
sourcemap.json
rocket.rbxm

luau_packages
lune_packages
roblox_packages
.pesde
pesde.lock

.DS_Store
Thumbs.db
include/assets.luau

Rocket.rbxm
roblox.d.luau
src/_OLD_

.lute/typedefs/*
!.lute/typedefs/.luaurc
